/**
 * Use this file to conditionally override styles for devices.
 * If you adjust the media queries in the theme settings you should
 * adjust them here so they match.
 */

/* Smartphone portrait */
@media only screen and (max-width:320px) {
  #branding {
    width: 70%;
    margin: 0 auto;
  }
  .region-header {
      clear: both;
      float: none;
      margin: 0 0 10px;
      max-width: 100%;
      overflow: hidden;
      text-align: center;
      width: 100%;
  }
  #search-form input#edit-keys, #block-search-form .form-item-search-block-form input {
      width: 65%;
  }
  #search-block-form input.form-submit, #search-form input.form-submit {
      float: left;
  }
}

/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {
  #branding {
    width: 65%;
    margin: 0 auto;
  }
  .region-header {
      clear: both;
      float: none;
      margin: 0 0 10px;
      max-width: 100%;
      overflow: hidden;
      text-align: center;
      width: 100%;
  }
  #search-form input#edit-keys, #block-search-form .form-item-search-block-form input {
    width: 78%;
  }
  #search-block-form input.form-submit, #search-form input.form-submit {
      float: left;
  }
}

/* Tablet portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
  #branding {
    width: 55%;
  }
  .region-header {
      clear: none;
      float: right;
      max-width: 40%;  
  }
  #search-form input#edit-keys, #block-search-form .form-item-search-block-form input {
    width: 60%;
  }
}

/* Tablet landscape */
@media only screen and (min-width:769px) and (max-width:1024px) {
  #branding {
    width: 50%;
  } 
  #block-block-2 {
    float: right;
    width: 40%;
    clear: none;
    display: inline-block;
  }
  
  #block-views-80df5bfa2e8b5898d1fe7884b30364a3{
    float: left;
    width: 50%;§
  }
}

/* Standard layout */
@media only screen and (min-width:1025px) {
#branding {
  width: 40%;
}  
  #block-block-2 {
    float: right;
    width: 40%;
    clear: none;
  }
  
  #block-views-80df5bfa2e8b5898d1fe7884b30364a3{
    float: left;
    width: 50%;
  }
}
