/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

#menu-bar ul a, #menu-bar ul a:visited {
    color: #E7E7E7;
}

#menu-bar ul a:hover, #menu-bar ul a:focus {
    color: #373737;
}

/* Header - Logo & Branding */
#branding {
    margin: 0 0 10px;
}

.region-header {
    margin: 20px 0;
}

/* Start comment out
h1#site-name {
    font-size: 2.692em;
    margin: 0.3em 0;
    padding: 0;
}

#logo {
    float: left;
  }



h2#site-slogan {
    font-size: 1.5em;
}
End comment out */

/* User Login block in the header region */
.region-header #block-user-login h2,
.region-header #block-system-user-menu h2 {
  display: none;
}

/* Start comment out
.region-header #block-user-login {
    width: 100%;
}

.region-header #block-user-login .content {
  margin-top: 2px;
}
.region-header #block-user-login .form-item {
  float: left;
  margin: 0;
  padding: 0;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}
.region-header #block-user-login div.item-list {
  clear: both;
}
.region-header #block-user-login div.description {
  display: inline;
}
.region-header #block-user-login .item-list ul,
.region-header #block-system-user-menu ul {
  padding: 0;
  line-height: 1;
}
.region-header #block-user-login .item-list li,
.region-header #block-system-user-menu li{
  list-style: none;
  float: none;
  padding: 3px 5px 1px;
}
.region-header #block-user-login .item-list li.last {
  padding-left: 0.5em; 
}
.region-header #block-user-login ul.openid-links li.last {
  padding-left: 0; 
}
.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  padding-left: 20px;
}
.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both;
}
.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 10px 0;
  padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}


.region-header #block-user-login div.form-item label {
  color: #4F7302;
  font-size: 0.8em
}

.region-header #block-user-login div.item-list {
  clear: none;
}

.region-header #block-user-login div.item-list li a {
  color: #4F7302;
  font-size: 0.8em;
}

.region-header #block-user-login .form-actions {
  position: absolute;
  margin: 15px 0 0 5px;
  display: inline;
}

.region-header #block-search-form {
  margin: 10px 0 0;
  width: 245px;
  clear: both;
}
.region-header #block-search-form .form-text {
  width: 154px;
}

End comment out */

/* Feild Layout */
.field .field-item {
  padding: 0.5em 1.5em 0;
  font-size: 1.1em;
  line-height: 1.6;
}
.field .field-label {
  font-size: 1.367em;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
}

.field li.field-item {
    padding: 0;
}

.field field-item li {
}

.field-label-above .field-label {
  border-bottom: 1px solid #000;
  margin-bottom: 0.5em;
}
article .tags, .article-content .field-type-taxonomy-term-reference {
  border: none;
  clear: both;
  display: block;
  font-style: normal;
  margin: 0;
  padding: 0.5em 0;
}
article .tags .field-label, .article-content .field-type-taxonomy-term-reference h2.field-label {
  display: block;
  font-size: 1.367em;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}
article .field-name-field-learning-objectives .field-item,
article .field-name-field-central-ideas .field-item,
article .field-name-field-core-learnings .field-item {
  margin: .2em 0 0;
  padding: 0 0 0 3em;
  background: url('../images/icon_bullet.png') 1.25em .24em no-repeat;
}

/* Taxonomy Tags */
article .field-type-taxonomy-term-reference ul.field-items li a {
  display: inline-block;
  font-size: 0.857em;
  padding: 0.5em 1em;
  margin: 0.2em 0;
  white-space: nowrap;
}
article .field-type-taxonomy-term-reference ul.field-items li a,
article .field-type-taxonomy-term-reference ul.field-items li a:visited {
    background-color: #E7E5E3;
    color: #100100;
}
article .field-type-taxonomy-term-reference ul.field-items li a:hover,
article .field-type-taxonomy-term-reference ul.field-items li a:focus,
article .field-type-taxonomy-term-reference ul.field-items li a:active {
  background-color: #d7d5d3;
  color: #100101;
}

.text-format-wrapper {
  margin-bottom: 1.4em;
}
.text-format-wrapper .form-item label {
  display: none;
}

.text-format-wrapper label {
  font-size: 1.077em;
  }
.description li {
  margin-left: 1em;
  }

.filter-wrapper {
    border-top: 0 none;
    margin: 0;
    padding: 0 0 1em;
}


.field-type-image figure {
  display: inline-block;
}

.field-type-text-long ul {
    list-style-type: none;
}

.field-type-text-long ul li {
  margin: 0;
  padding: 0 0 0 1.5em;
  background: url('../images/icon_bullet.png') 0 .24em no-repeat;

}

.view-display-id-frontpage_slider_block {

}

.view-display-id-frontpage_slider_block .flexslider {
  border: 10px solid #EFEDEA;
}

.view-display-id-frontpage_slider_block .flex-nav-container {
    margin-bottom: 0;
}

.view-display-id-frontpage_slider_block .flex-direction-nav li .next {
    background-position: -52px 0;
    right: -36px;
}

.view-display-id-frontpage_slider_block .flex-direction-nav li .prev {
    left: -16px;
}

#block-block-2 {
  width: 100%;
  clear: none;
}

#block-views-80df5bfa2e8b5898d1fe7884b30364a3{
  width: 85%;
  margin: 0 auto 30px;
}


.columns-inner {
    box-shadow: 0px 10px 8px 0px #7F7F7F;
}

/* Front Page Highlighted Region */

.page-sort-advanced-filters #content-column,
.front #content-column {
    margin-top: 0;
}

.page-sort-advanced-filters .columns-inner,
.front .columns-inner {
    padding-top: 0;    
}
.region-highlighted {
  background-color: #26746A;
  margin: 0 0 3em;
  padding: 2em 0;
  box-shadow: 0px 10px 8px 0px #7F7F7F;
}

.region-highlighted:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.region-highlighted h2 {
  color: #ffffff;
}


#search-block-form input.form-submit {
    margin-top: 4px;
}

#block-block-2 ul {
  list-style: none;
}

#block-block-2 ul li,
#block-block-2 p {
  margin: .7em 0 0 0;
  font-size: 1.2em;
}

#block-block-2 h2 {
    font-family: Arial,Helvetica,sans-serif;
    color: #FFFFFF;
    font-size: 1.32em;
    line-height: 1.2;
}

#block-block-2 input.form-text {
width: 75%;
}

#block-block-2 a, #block-block-2 a:visited {
  color: #e7e7e7;
}

.print-link {
    position: absolute;
    right: 5em;
    top: 0;
}

#menu-bar .menu-wrapper ul.menu {
    font-size: 1.1em;
}

#menu-bar .menu-wrapper ul.menu li {
    margin: 0 3px 0 0;
}

.article-content .field-name-field-catalog-image {
    float: left;
    margin: 0 1.5em 0 0;
}

.article-content .field-name-field-catalog-image figure {
    padding: 0.5em 1.5em 0;
}

.article-content .field-name-body {
    /*display: inline;
    float: left; */
}


/*
#block-system-user-menu h2, #block-user-login h2 {
    display: none;
}

#block-user-login .form-item-name, #block-user-login .form-item-pass {
    float: left;
}

#block-system-user-menu ul {
    list-style-type: none;
}

#block-system-user-menu ul li {
    display: inline;
    margin: 0 1em 0 0;
}
*/

.region-header .block {
    clear: both;
    margin: 5px 0;
}

#search-form input#edit-keys, #block-search-form .form-item-search-block-form input {
    width: 70%;
}

#search-block-form input.form-submit, #search-form input.form-submit {
    float: right;
}

input[type=search] {
   -moz-appearance:none;
   -webkit-appearance:none;
}