/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

h1#site-name {
    font-size: 2.692em;
    margin: 0 0 0.2em;
    padding: 0;
}

/* Feild Layout */
.field {
  padding: 0.5em 0;
}
.field .field-label {
  font-size: 1.367em;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
}
.field-label-above .field-label {
  border-bottom: 1px solid #000;
}
article .tags, .article-content .field-type-taxonomy-term-reference {
  border: none;
  display: block;
  font-style: normal;
  margin: 0;
  padding: 0.5em 0;
}
article .tags .field-label, .article-content .field-type-taxonomy-term-reference h2.field-label {
  display: inline;
  font-size: 1.367em;
  font-weight: normal;
  margin: 0;
}
article .field-name-field-learning-objectives .field-item,
article .field-name-field-central-ideas .field-item,
article .field-name-field-core-learnings .field-item {
  margin: .2em 0 0;
  padding: 0 0 0 3em;
  background: url('../images/icon_bullet.png') 1.25em .24em no-repeat;
}

/* Taxonomy Tags */
article .field-type-taxonomy-term-reference ul.field-items li a {
  display: inline-block;
  font-size: 0.857em;
  padding: 0.5em 1em;
  margin: 0.2em 0;
  white-space: nowrap;
}
article .field-type-taxonomy-term-reference ul.field-items li a,
article .field-type-taxonomy-term-reference ul.field-items li a:visited {
    background-color: #E7E5E3;
    color: #100100;
}
article .field-type-taxonomy-term-reference ul.field-items li a:hover,
article .field-type-taxonomy-term-reference ul.field-items li a:focus,
article .field-type-taxonomy-term-reference ul.field-items li a:active {
  background-color: #d7d5d3;
  color: #100101;
}

.text-format-wrapper {
  margin-bottom: 1.4em;
}
.text-format-wrapper .form-item label {
  display: none;
}

.text-format-wrapper label {
  font-size: 1.077em;
  }
.description li {
  margin-left: 1em;
  }

.filter-wrapper {
  display: none;
  }
  
  #logo {
    float: left;
  }
#branding {
  width: 70%;
}

.field-type-image figure {
  display: inline-block;
}

.field-type-text-long ul li {
  margin: 0 0 0 1.8em;
}

.view-display-id-frontpage_slider_block {

}

.view-display-id-frontpage_slider_block .flexslider {
  border: 10px solid #EFEDEA;
}

.view-display-id-frontpage_slider_block .flex-nav-container {
    margin-bottom: 0;
}

.view-display-id-frontpage_slider_block .flex-direction-nav li .next {
    background-position: -52px 0;
    right: -36px;
}

.view-display-id-frontpage_slider_block .flex-direction-nav li .prev {
    left: -16px;
}

#block-block-2 {
  float: right;
  width: 40%;
  clear: none;
  display: inline-block;
}

#block-views-80df5bfa2e8b5898d1fe7884b30364a3{
  float: left;
  width: 50%;
}

.region-highlighted {
  background-color: #E1DFDC;
  margin: 0 0 3em;
  padding: 2em 0;
  box-shadow: 0px 3px 20px 2px #7F7F7F;
}

.region-highlighted:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

#block-block-2 ul {
  list-style: none;
}

#block-block-2 ul li,
#block-block-2 p {
  margin: .7em 0 0 0;
  font-size: 1.2em;
}

#block-block-2 input.form-text {
width: 75%;
}

#block-block-2 a, #block-block-2 a:visited {
  color: #333333;
}